<div="container">

  <div class="row">
    <div class="col-md-12">
      <h3> Selective Entrance Exam Workshops </h3>
      <p></p>
      <%= simple_format("

        Selective entry high schools provide an educationally enriching environment for high achieving and academically gifted students.  However, the test is competitive with over 13,000 students sitting the exam in NSW and over 3,000 students sitting the exam in VIC.

      Exam Success runs workshops that provide your child with extremely helpful knowledge that is logic based and developed in-house.  We emphasise a time-management based approach in easy to understand language that your child will absorb.

      For more information on our NSW Holiday September Workshops or VIC May Workshop, download the information pack and view our calendar below.

      NB: We will be running workshops in Victoria in Dec - Mar and in NSW from Dec - Jan.  Please contact us to be put on the waiting list for notification when spots open as there are limited spots.
      ")%>
    </div>

    <div class="col-md-6">
      <div class="well">
        <h3> 2014 Victorian Selective School Exam Workshop - Verbal Reasoning THIS SUNDAY 25/5/2014 </h3>
        <h4><%=simple_format("Last Minute 10 spots left! 

          Sale Price $150 (Discount of $120).

          To enrol, fill in the form on this page.

        BONUS! Includes 60 Verbal Reasoning practice questions, 50 Numerical Reasoning practice questions and an English writing correction video!")%>
        </h4>
        <p class="lead">Click <a href="http://goo.gl/LRCo9f">here to download</a> the information pack</u> (if you are going to be in Year 9 or 10 in 2015).</p>
        <h3>Herald Sun 20 May 2014</h3><br/>
        <%= image_tag("heraldsun-article.png", size: "400x980") %><br/>
      </div>

    </div>
<!--
    <div class="col-md-6">
      <div class="well">
        <h3> 2014 NSW Selective HSP Test Workshops </h3>
        <p class="lead">Click <a href="http://goo.gl/IM7CA6">here to download</a> the NSW Spring Holiday Year 7 Workshops information pack</u> (if you are going to be in Year 6 in 2015).</p>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>NSW September 2014 Workshops Timetable </h3>
    <%#= image_tag("timetable_workshops_selective_test.png", size: "1100x370", alt: "rss feed") %>
  

-->
    <div class="col-md-6">
      <iframe width="500" height="280" src="//www.youtube.com/embed/ZqrA7g3t6lc" frameborder="0" allowfullscreen></iframe>
      <h3>Enrol in a Workshop Now! </h3>
      <br></br>
      
      <div="container">
        <p> Enrol below or at Academic Solutionz Bookstore, 54 Station Pl, Sunshine VIC 3020</p>
        <%= render partial: 'contacts/workshopenrol', locals: {contact: Contact.new} %>
      </div>
    </div>


    <div class="col-md-6">
      <h3>Why Choose Exam Success for Workshops?</h3>
      <p></p>
      <%= simple_format("

      Since 2010 we have helped students get into their preferred school. In our first year, we boasted an 80% success rate!
        
        This is because:

      • We are high achievers. Exam Success is founded by a previous selective school student (Mac.Robertson Girls’ High School) and a scholarship holder at the prestigious University of Melbourne. Everyone who works for us has an ATAR of 95+ and/or has been offered a spot in a selective school or for a scholarship. While we don’t have a teaching degree, we’re all high achievers who love to share our knowledge. We prefer it that way, as the entry ATAR to become a teacher is only around 70.

      • We specialise in logic and reasoning. The exam is about critical thinking and applying reasoning. The founder studied logic and reasoning as part of her university degree and has taught numerous students how to apply special tools to work out questions quickly. Is your teacher a critical thinking specialist with a 95+ ATAR?

      • We talk your child’s language. At Exam Success we make things as simple as possible. That’s because we don’t like complication. Everything is conveyed in simple to understand language so that your child understands it.")%>
      <p></p>
      <h3>What workshops are there?</h3>
      <p></p>
      <p>
      There are workshops for:</p>

      <p>• <strong>Creative Writing, Reading Comprehension, General Ability</strong> if you're going for the NSW High School Placement Test (March each year)</p>

      <p>• <strong>Verbal Reasoning</strong> if you're going for the VIC Selective Schools Entrance Exam (June each year)</p>
      <p></p>
      <h3>What will my child get i.e. What are the details of the workshop?</h3>
      <p></p>
      <p>Please refer to each individual information pack for full details. In general, for each workshop session:</p>
      <p>• Session time and duration = 10:00am – 3:00pm and for Victorian workshop 10:00am - 4:00pm</p>
      <p>• 50 pages of notes developed for Exam Success workshops only and not sold elsewhere – notes include practice questions which will be used in the workshop, cheat sheets, and more…</p>
      <p>• <em>BONUS gift – Complimentary English Writing Corrected!</em> Get a free 15-minute video feedback by A+ tutor (valued at $25).</p>

    </div>

  </div>
</div>