<h1> Hi <%= @email %>! </h1>

Your enrolment in <%= @lesson.title %> is confirmed.

Here are your class details:

Start date: <%= @lesson.startdate %>
Duration: <%= @lesson.duration %> and class happens <%= @lesson.frequency %>
Each class is <%= @lesson.minutes %> minutes long
Each week your class is available to take on the following days: <%= @lesson.days %>

Each week prior to your class commencing we will send to your email three invitations.  You can choose which date to attend ecah week for more flexibility around your schedule.

The invitation will include the link to the classroom and all materials for the class.

If you have an english writing practice component in your class, you will be using <a href="http://esenglish.herokuapp.com"> this website "esenglish.herokuapp.com"</a> to submit your writing piece.  There are already heaps of free practice questions up there so you can sign up for free and get a head start!

Any questions, please contact us on success@examsuccess.com.au

Happy studying!
Vi from Exam Success