<div class= 'container'>
  <h2> Get Free Exam Tips </h2>

  <p class= 'lead'>
    Remember to sign up to our newsletter to get updates when new video and exam tips are updated. 
  </p>

<div class= 'col-md-6' >
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="http://examsuccess.us5.list-manage1.com/subscribe/post?u=07d70109eb2f72228f62baaa4&amp;id=e9e6a78837" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>Subscribe to our mailing list</h2>
  <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
  <div class="mc-field-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
  </label>
    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  </div>
  <div class="mc-field-group">
    <label for="mce-FNAME">First Name </label>
    <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
  </div>
  <div class="mc-field-group">
    <label for="mce-LNAME">Last Name </label>
    <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
  </div>
  <div class="mc-field-group input-group">
      <strong>Email Format </strong>
      <ul><li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0"><label for="mce-EMAILTYPE-0">html</label></li>
  <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1"><label for="mce-EMAILTYPE-1">text</label></li>
  </ul>
  </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_07d70109eb2f72228f62baaa4_e9e6a78837" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
  </div>

<!--End mc_embed_signup-->
</div>

<div class='col-md-12'>
  <h4>We were featured in the Herald Sun on 20 May 2014.</h4>
  <%= image_tag("heraldsun-article.png", size: "400x980") %>
</div>

<div class='col-md-12'>
  <h3> Preparing for the Victorian Selective School Exam </h3>
  <%= simple_format("
    As an ex-Macrob student and Melbourne University scholar, www.examsuccess.com.au has been helping students prepare for selective entrance exams in Victoria and NSW.  The Victorian Selective School entrance exam consists of six components and since it’s less than two months away, we’ve prepared some tips to help students and parents prepare for this exam:

Mathematics 
• It’s best to prepare for this section by going through a Year 9 text book.  Get on top of things like surds, algebra, linear equations etc… Trickier questions in this test will have missing parts which you are supposed to find first before finding the solution.  Therefore, know you basics (fractions, negative and positive numbers, linear graphs) and know them well.

Persuasive Writing
• Keep up to date with key issues in the media.  A good spot to go to is The Age’s website in the editorial section.  Know how to structure a persuasive writing piece along with types of arguments you could put down so that in the exam, you’re really only spending time coming up with arguments you’re your given question as opposed to wasting time thinking about how to write a persuasive piece. Again, practice and feedback is key to improving your persuasive writing.

Creative Writing
• Make sure your writing flows fluently, ‘shows as opposes to tell’ and relates to the question.  Read novels in the lead up to the exam as it’ll help with modelling good creative writing along with boosting up your vocabulary.  Practice some writing and get feedback.  For both writing pieces, usually 250 words is competitive but that being said, it needs to be a well-written story.

Reading Comprehension
• In the exam, make sure that you read the question carefully and find elements (usually two to three) within the reading passage that prove a certain option to be correct.  This test is about which option, on balance is ‘more correct’ so the key here is in evaluating all the five solution options against each other.

Numerical Reasoning
• Number patterns and relationships along with information management is what’s keenly tested in this part.  Prepare for it by having a set strategy prior to uncover number patterns and do practice questions.  Most importantly, understand each and every question and why a certain answer is right or wrong.  
  
Verbal Reasoning
• Patterns to do with words and relationship with the meaning of words are tested among other things in this exam.  We believe it to be an exam of information management so read carefully and think about the best way to organise you information.  Exam Success is running a workshop on this area and you can book at www.examsuccess.com.au/workshops  

So that’s a wrap.  If you need more exam preparation assistance, don’t forget to call on us at www.examsuccess.com.au.  We have books along, English Writing Tutoring and one a Verbal Reasoning workshop on 25th May at West Footscray Neighbourhood House you can book online.
Best Wishes to all for this exam!

  ") %>
</div>
<br></br>

  <div class = 'col-md-6'>
    <iframe width="500" height="300" src="//www.youtube.com/embed/tueRvXNY-UA?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class= 'col-md-6'>
    <br></br>
    <%= simple_format("Going through Q13 of the Mathematics Sample Test 1 of the Selective Schools Placement Test Samples.

      Many people find this question difficult regrading the design and the Vedic square but it is quite a simple question involving uncovering links in information. I hope you find this useful.
      ") %>
  </div>
  <div class= 'col-md-12'>
  </div>

  <div class= 'col-md-6'>
    <iframe width="500" height="300" src="//www.youtube.com/embed/4ZkjRyhPUNI?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class= 'col-md-6'>
    <br></br>
    <%= simple_format("Creative Writing Entrance Exam Preparation Feedback NSW Year 9 reviews a writing piece submission for a scholarship test.
      It goes through structuring a writing piece, editing and use of language to write a top piece for your exam.
      ") %>
  </div>
  <div class= 'col-md-12'>
  </div>

  <div class = 'col-md-6'>
    <iframe width="500" height="300" src="//www.youtube.com/embed/o1teqIx3qTU?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class= 'col-md-6'>
    <br></br>
    <%= simple_format("Going through Q 50 of the General Ability Test 1 from the NSW Selective Schools Placement Test. In this video, I'll go through the logical reasoning I undertake to uncover the number pattern in this question.
      ") %>
  </div>


  <div class= 'col-md-12'>
    <br></br>
    <h3> What’s best? Heaps of Practice Questions or Logic?​ </h3>
    <%= simple_format(" 
    One of the things many people ask is ‘Where can I get my hands on more practice questions?’ 
     
    Having tutored many students for the selective schools test and entrance exam, I’m a big believer of doing practice questions, however, that being said, I’m a big believer in doing practice questions properly.  This means, not doing hundreds and hundreds of practice questions without thought but rather doing a few practice tests (the ones freely available) and then understanding the logic or reasoning behind each question.  This last part, takes time. 
     
    I know there are a lot of practice questions around, online and in print for the selective schools test and entrance exam.  However, I’m not quite sold on the notion that the more practice questions you churn through, the more prepared you are for the exam.  This is my reason:  A person doing 100s of practice question is unlikely to dedicate their time to understanding each part of their question in depth, whereas the person who does less has a greater depth of understanding.  Without this understanding, it is difficult to know what to apply in the exam if you encounter a ‘new’ question.  However, with understanding, you can apply it in many different scenarios.  So in summary - Quality over Quantity any day!
     
    I’ve found that my successful students were the ones who understood the logic and reasoning behind each question of the selective schools test and entrance exam.  They took time to understand why something works the way it does and they’ve kept this knowledge and applied it in the exam.  I have brought to light this knowledge of logic and reasoning in my book: General Ability to Reach for Exam Success (available to download at Selectivetest.net)  
     
    How to complete practice questions properly in the selective schools test and entrance exam?

    My method is simple.  I spend as long as it takes to tick off the following list for each question:
    (1) Find the right solution and understand why it is the correct solution
    (2) Understand why the other solutions are incorrect
    (3) Why people would choose the incorrect solution
    (4) What the missing information is that would bring me to the correct solution
    (5) What knowledge do I need in the exam to help me find the solution if this type of question arose
    (6) What is the question writer trying to test you on?
     
    Yes, the list is long but it will help your child understand each question in more detail.  Unsurprisingly, this is the same method I’ve used in the past.  On average, I would say that for each question, I would think about each question for around 15-30 minutes.  When you think about a 60 questions test paper, this is a very long time!
     
    Try it – the results will be surprising.
    ") %> 

    <br></br>

    <h3> Helping your child with un-coding the code in General Ability!</h3>
    ​
    <%= simple_format("
      By Vi Nguyen, author of General Ability to reach for Exam Success (Uploaded 3 December 2012)
      ​
      One of my favourite areas in the selective schools test and entrance exam is general ability. It’s like putting together a puzzle. You pick up each piece, assemble it … but wait there’s still a piece missing. This is the piece that you create but it has to be the right shape in order to fit but how do you know if it will? Try it before the exam!
      ​
      I’m going to show you how you can help your darling daughter or son to create the right shape to complete your puzzle for the ‘un-coding the code’ type questions that commonly appear in the exam.
      ​
      Let’s take an adaptation of the reasoning behind question 17 of Sample Test 1 from the NSW Department of Education – you can find it here: http://www.schools.nsw.edu.au/media/downloads/schoolsweb/learning/k_6assessments/ss/gatest1.pdf
      ​
      If the word UMPIRE is coded 380124
      ​
      Then the word IMPLICIT would be coded
      ​
      (a)18100705
      ​
      (b)18071417
      ​
      (c)18011219
      ​
      (d)18091715
      ​
      How do I go through this question with my child? The key here is comparing the two words and discovering how the code links them together. First, I would look at both words and establish what’s similar and what’s different. The letters “M”, “P” and “I” are present in both words. Let’s now see how the code relates to the two words. First, we need to test our ‘guesses’. When we look at the word UMPIRE and the number code in order, it looks like “M” could be 8 and “I” could be 1. When I look at the choices, it’s clear that “I” = 1 as all the choices start with 1 and “M” = 8 as in all the choices, the second number is 8. Jackpot! I’ve figured out how my code works, it’s: U = 3, M = 8, P = 0, I = 1, R = 2, E = 4
      ﻿
      ​
      All we have to do now is find the choice which follows this pattern (that is, find the shape that fits in the puzzle). In this case, it’s (d) 18091715!
      ​
      This sounds easy, but in practice there are a lot of things to consider. For example, the letters “L”, “C” and “T” are in “IMPLICIT” but not in “UMPIRE” – what numbers do they represent? Given that they are all different letters, their numbers must be unique and this is the key to the last part of this answer.
      ​
      Walk your child through each step slowly asking them questions why a certain choice may or may not work. This will allow them to practice their reasoning before the exam as well as encouraging them to think about alternative solutions - if Google (the internet monolith) uses this in their hiring practices, it must be a good skill to develop!
    ") %>
  </div>
</div>