<div class="intro-header">
  <div class="container">
    <div class="jumbotron">
    <h1>Ace Your Exams!</h1>
    <h2> Got a selective/scholarship test or VCE, HSC or IELTS exam?</h2>
    <p> Get free and paid book downloads written by top 5% scorers.  Practice your writing too.  New practice questions up each week :-)</p>
    <p>&nbsp</p>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <%= link_to books_path, class: 'btn btn-warning btn-lg btn-block' do %>
            <span class="glyphicon glyphicon-book"></span>
              &nbsp;&nbsp;&nbsp;Buy Books
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to welcome_writing_path, class: 'btn btn-success btn-lg btn-block' do %>
            <span class="glyphicon glyphicon-pencil"></span>
              &nbsp;&nbsp;&nbsp;Improve Your Writing
          <% end %>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
  <p class="lead"> What they've said about us... </p>
  <div class='col-md-6'>
    <div class="g-post" data-href="https://plus.google.com/105657968689653402381/posts/Xr4xJwqsrwi"></div>
  </div>
  <div class='col-md-6'>
    <div class="g-post" data-href="https://plus.google.com/105657968689653402381/posts/Y5is1FQ37S6"></div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class='col-md-4'>
        <%= image_tag("heraldsun.jpg", size: "200x40", alt: "rss feed") %>
        <br></br>
        <p class="lead">We were in the news! <a href="http://www.heraldsun.com.au/ipad/class-act-to-the-flood-rescue/story-fn6bfkm6-1226000751684">Click here to read about how dedicated we are!</a></p>
      </div>
      <div class='col-md-4'>
        <%= image_tag("youtube.png", size: "170x70", alt: "rss feed") %>
        <p></p>
        <p class="lead">Check out our channel <a href="http://www.youtube.com/studyforexams">here</a> for new videos to help with your exam prep!</p>
      </div>
      <div class='col-md-4'>
        <%= image_tag("atalogo.png", size: "210x70", alt: "rss feed") %>
        <p></p>
        <p class="lead">Proud member of the <a href= "http://ata.edu.au/">Australian Tutoring Association</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
          <h2>Get Exam Success:</h2>
      </div>
      <div class="col-lg-3">
        <%= link_to books_path, class: 'btn btn-warning btn-lg btn-block' do %>
          <span class="glyphicon glyphicon-book"></span>
          &nbsp;&nbsp;&nbsp;Buy Books
        <% end %>
      </div>
      <div class="col-lg-3">
        <%= link_to welcome_writing_path, class: 'btn btn-success btn-lg btn-block' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          &nbsp;&nbsp;&nbsp;Improve Your Writing
        <% end %>
      </div>
    </div>
  </div>
</div>
   
