<div class="container">
  <h2>Improve Your English by Practicing Your Writing</h2>
  <br></br>
  <div class='row'>
    <div class='col-md-12'>
      <h4> Here's how it works:</h4>
    </div>
    <div class='col-md-3'>
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag("ec-download.jpg", size: "50x50", alt: "rss feed") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Download</h4>
          <p>Get your question here (new questions updated weekly)</p>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag("ec-complete.jpg", size: "50x50", alt: "rss feed") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Do it!</h4>
          <p>Print out your practice paper and complete it.</p>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="media">
        <a class="pull-left" href="#">
          <%= image_tag("ec-feedback.jpg", size: "50x50", alt: "rss feed") %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Get Your Feedback</h4>
          <p>Email it back to us and then get your feedback.</p>
        </div>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Practice Again!</h4>
          <p>Implement your feedback and practice again, improving each time.</p>
          <br></br>
        </div>
      </div>
    </div>
  </div>

<div class='row'>
  <div class='col-md-6'>
    <p class= "lead">Here are two simple ways to improve your English writing.  Watch the 3 minute video below:</p>
    <p></p>
    <p></p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/utFZ_pfWOSM?list=UUBVHBg-oCQ7Gx7yOWuck0IA" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='col-md-6'>
    <p class="lead">Here's an English writing tutoring review we did earlier.  Start practicing with us and see your English improve.</p>
    <p></p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/6XrybXrZjZA?list=UUBVHBg-oCQ7Gx7yOWuck0IA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<br></br>

  <div class='row'>
    <div class='col-md-12'>
      <h4> Download Question & Answer Sheets:</h4>
    </div>
    <div class='col-md-4'>
      <div class="well">
        <%= render 'welcome/englishfirst' %>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="well">
        <%= render 'welcome/englishsecond' %>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="well">
        <%= render 'welcome/englishthird' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">FAQs</div>
        <div class="panel-body">
          <h5>Who corrects my work?</h5>
          <p>Your work is corrected by A+ tutors who have achieved excellent scores (ATAR 95+, IELTS 7.0+).</p>
          <h5>What do I get and how do I get my feedback?</h5>
          <p>You'll get a report card or a 15 minute video that is customised for your situation.  It's all delivered online to your email address.</p>
          <p>The report card will include:</p>
          <ul>
            <li>5 different key areas of focus and how what you should be doing to improve these areas.</li>
            <li>How you’re tracking – are you improving over time?</li>
            <li>A 5 page information information booklet about writing that includes a model writing piece.
          </ul>
          <h5>How much does it cost?</h5>
          <p>Each correction feedback is $25.  We'll send you an invoice after you have sent through your work for feedback.  But you're free to download our practice test paper for free.</p>
          <h5>Why choose Exam Success?</h5>
          <p>Exam Success GETS RESULTS.  We have helped students get into NSW selective schools, Melbourne High, Suzanne Cory and scholarships at numerous private schools.  By being online we have made it CONVENIENT for parents and have helped students do better in school and improve English for students.</p>
          <table class="table">
            <thead>
              <tr>
                <th>Your School</th>
                <th>Exam Success</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>No Individual Attention</strong><p>Class size average 24 students to 1 teacher</p></td>
                <td><strong>1 to 1 Individual Attention</strong><p>ll our English writing is given full attention by 1 tutor.  There is individual service and we track your progress using our own designed systems.</p></td>
              </tr>
              <tr>
                <td><strong>Low ATAR</strong><p>ATAR of only 60 to become a teacher.</p></td>
                <td><strong>We’re smart</strong><p>All our tutors have an ATAR 95+, are scholarship winners or have gained places at the best selective schools.</p></td>
              </tr>
              <tr>
                <td><strong>Only School Hours</strong><p>Teacher available 9-3.  When you have questions, you need to get a tutor.</p></td>
                <td><strong>We Care</strong><p>Whenever you have a question, we will in 99% of cases respond within 24 hours 24 hours 7 days a week. As parents we know that your child’s education is important to you – therefore, it’s important to us.  For any questions, please call Vi directly on 0432 537 734.</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
