<p><%= link_to book.title, book %></p>
<p>Authour ATAR: <%= book.atar %></p>
<p>Mini description: <%= book.body %></p>
<p>$<%= book.price %></p>
<p><%= book.category.title %></p>
<%#= image_tag book.display.thumb.url %>
<%= image_tag 'http://placehold.it/80x120' %>