<p><%= link_to book.title, book %></p>
<p>Authour ATAR: <%= book.atar %></p>
<p>$<%= book.price %></p>
<%#= image_tag book.display.thumb.url %>
<%= image_tag 'http://placehold.it/80x120' %>
<%= link_to "Free preview", book.preview.url %>
