  <p><%= link_to book.title, book %></p>
  <p>Authour ATAR: <%= book.atar %></p>
  <p>Mini description: <%= book.body %></p>
  <p><%= book.category.title %></p>
  <label class="amount">
    <span>Amount: <%= book.price %> </span>
  </label>

  <% if current_user && current_user.books.include?(book) %>
    <%= link_to "Download", "http://www.ninemsn.com.au/" %>
    <!-- book.file.url -->
  <% else %>
    <%= form_tag book_buy_path(book) do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Bought <%= book.title %>"
        data-amount="<%= book.price_in_cents %>"></script>
    <% end %>
  <% end %>

