<p><%= link_to book.title, book %></p>
<p>Authour ATAR: <%= book.atar %></p>
<p>Mini description: <%= book.body %></p>
<p><%= book.category.title %></p>
<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: <%= book.price %> </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Bought <%= book.title %>"
          data-amount="<%= book.price_in_cents %>"></script>
<% end %>
