<h1> Fill in the form </h1>

<%= form_for book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <%= f.label :atar %>
  <%= f.text_field :atar %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= collection_select(:book, :category_id, Category.all, :id, :title, prompt: true) %>
  <%= f.label :display, class: 'control-label' %>
  <%= f.file_field :display %>
  <%= f.label :preview, class: 'control-label' %>
  <%= f.file_field :preview %>
  
<%= f.submit %>

<% end %>