<h1><%= @book.title %></h1>
<p>Author ATAR: <%= @book.atar %></p>
<p>What's this about? <%= simple_format(@book.body) %></p>
<p>Amount: <%= @book.price %></p>



<% if can? :edit, Book %>
  <%= link_to "Edit Book", edit_book_path(@book), class: 'btn btn-primary btn-mini' %>
<% end %>
