<h2> Fill in the form to create a new lesson/edit lesson </h2>
<br></br>

<div class="col-md-8">
  <%= form_for lesson, html: {role: 'form'} do |f| %>
    <div class= 'form-group'>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :body %>
      <%= f.text_area :body, :cols => 10, :rows => 10, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :cost %>
      <%= f.text_field :cost, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :duration %>
      <%= f.text_field :duration, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :startdate %>
      <%= f.text_field :startdate, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :minutes %>
      <%= f.text_field :minutes, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :days %>
      <%= f.text_field :days, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :frequency %>
      <%= f.text_field :frequency, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :video %>
      <%= f.text_field :video, class: 'form-control' %>
    </div>
    <div class= 'form-group'>
      <%= f.label :channel %>
      <%= f.text_field :channel, class: 'form-control' %>
    </div>
    <%= f.submit "Create/Edit Book", class: 'btn btn-primary' %>
  <% end %>
</div>