<h1> Fill in the form </h1>

<%= form_for @category do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body, :cols => 8, :rows => 8, class: 'form-control' %>

<%= f.submit %>

<% end %>