<h1> Fill in the form to create a new category </h1>

<%= form_for @category do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_field :body %>

<%= f.submit %>

<% end %>