<nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("logo.png", size: "130x50", alt: "rss feed") %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "English Writing", welcome_writing_path %></li>
          <li><%= link_to "Free Stuff", welcome_blog_path %></li>
          <li><%= link_to "Contact", welcome_contact_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
            <p class="navbar-text">Hello</p><li><%= link_to (current_user.name || current_user.email), current_user %></li><p class="navbar-text">!</p>
            <li><%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
                <span class="glyphicon glyphicon-user"></span>
              <% end %></li>
            <li><%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
            <span class="glyphicon glyphicon-log-out"></span></li>
            <% end %>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li><p class="navbar-text"> or </p>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>