<!DOCTYPE html>
<html>
<head>
  <title>Exam Success</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">

        <li><%= link_to "Home", welcome_index_path %></li>
        <li><%= link_to "Our Tutors & Partners", welcome_tutors_path %></li>
        <li><%= link_to "Contact", welcome_contact_path %></li>
        <li><%= link_to "Privacy", welcome_privacy_path %></li>
        <li><%= link_to "Terms & Conditions", welcome_terms_path %></li>
        <li><%= link_to "About", welcome_about_path %></li>
    </ul>

    <%= yield %>
  </div>

</body>
</html>