<!DOCTYPE html>
<html>
<head>
  <title>Exam Success</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "welcome", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>


  <%= render 'layouts/nav' %>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
    </div>
  <% elsif flash[:alert] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <%= yield %>


<footer>
  <p class="navbar-text">&copy; Exam Success Pty Ltd 2011 - 2014</p>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Our Tutors & Partners", welcome_tutors_path %></li>
    <li><%= link_to "About", welcome_about_path %></li>
    <li><%= link_to "Privacy", welcome_privacy_path %></li>
    <li><%= link_to "Terms & Conditions", welcome_terms_path %></li>
</footer>

  <%= render 'layouts/ga' if Rails.env == 'production' %>
</body>
</html>